<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2021</h2>

                    <p>
                    The third annual pyMOR School will be held at the
                        Mathematics Münster Cluster of Excellence from
                        Monday 04.10.2021 until Friday 08.10.2021.
                    </p>

                    <p>
                        <em>The <a href="register.html">registration</a> deadline
                        is Friday September 3rd 2021 .</em>
                    </p>
                </div>
            </div>
        </div>
    </section>
