---
layout: 2019_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
        <h1>{{ page.title }}</h1>
        <p>
            Lectures will take place in the seminar room Wiener (V0.05-1) and exercises in the
            training room (S0.02).
        </p>
        <p>There will be lectures on:</p>
        <ul>
            <li>pyMOR's design philosophy,</li>
            <li>reduced basis methods,</li>
            <li>system-theoretic methods,</li>
            <li>integration with PDE solver packages,</li>
        </ul>
        <p>
            with programming sessions.
            The timetable will depend on participants' interests expressed in the registration.
        </p>
        <p>For the practical part, we encourage you to bring your own problem to work on.</p>
        <p>
            Note that we are not planning to give an introduction to Python/NumPy/SciPy, but there
            are plenty of free online resources to learn the basics before the start of the School
            (see <a href="https://python.g-node.org/wiki/introductory_material">here</a> for
            suggestions).
        </p>

        <!--
        <h2>Day 1 - Monday, 7 October 2019</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>
            </thead>

            {% for agenda in site.data.twenty_19.agendas_1 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Day 2 - Tuesday, 8 October 2019</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>

            </thead>

            {% for agenda in site.data.twenty_19.agendas_2 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Day 3 - Wednesday, 9 October 2019</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>

            </thead>

            {% for agenda in site.data.twenty_19.agendas_3 %}
            <tr>
                <td>{{ agenda.time }}</td>
                <td>{{ agenda.info }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Day 4 - Thursday, 10 October 2019</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>

            </thead>

            {% for agenda in site.data.twenty_19.agendas_4 %}
            <tr>
                <td>{{ agenda.time }}</td>
                <td>{{ agenda.info }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Day 5 - Friday, 11 October 2019</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>
                </tr>

            </thead>

            {% for agenda in site.data.twenty_19.agendas_5 %}
            <tr>
                <td>{{ agenda.time }}</td>
                <td>{{ agenda.info }}</td>
            </tr>
            {% endfor %}
        </table>
        -->
    </div>
