<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2020</h2>

                    <p>
                        The first ever pyMOR School will be held at the MPI
                        Magdeburg in October 2020 from Monday 7th till Friday
                        11th.
                    </p>

                    <p>
                        <em>The <a href="../register">registration</a> deadline
                        was August 31.</em>
                    </p>
                </div>
            </div>
        </div>
    </section>
