<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2020</h2>

                    <p>
                    After a succesful <a href="/past/2019/index.html">first iteration</a> in Magdeburg in
                        September 2019,
                        the second annual pyMOR School will be held at the
                        Mathematics Münster Cluster of Excellence from
                        Monday 28.09.2020 until Friday 02.10.2020.
                    </p>

                    <p>
                        <em>The <a href="../register">registration</a> deadline
                        is Friday August 28th 2020 .</em>
                    </p>
                </div>
            </div>
        </div>
    </section>
