<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2020</h2>

                    <p>
                    Due to the ongoing pandemic uncertainty we are converting the pyMOR School 2020
                    to an Online Course format with video lectures and exercises. The event
                    is still scheduled for Monday 28.09.2020 until Friday 02.10.2020.
                    </p>

                  <p>
                  While we are working out the details we invite everyone to
                  <a href="https://indico.mpi-magdeburg.mpg.de/e/pymor2020">register</a> until
                  <em> August 28th, 2020</em>.
                  </p>
                    <p>


                    <a class="btn btn-sm" href="https://indico.mpi-magdeburg.mpg.de/e/pymor2020">Register Online</a>

                    </p>
                </div>
            </div>
        </div>
    </section>
