<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2019</h2>

                    The first ever pyMOR School will be held at the MPI Magdeburg in October 2019 from Monday 7th till Friday 11th.
                    Details will follow soon. You can subscribe to updates below. For immediate questions please <a href="mailto:school@pymor.org">email us</a>.
                </div>
            </div>
            <div class="row container">
                 <br/>
            </div>
            <div class="row container">
                 <center><a href="https://eepurl.com/ghlBv1" class="page-scroll btn btn-xl">
                    Subscribe to updates</a>
                 </center>
            </div>
        </div>
    </section>
