<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">pyMOR School 2019</h2>

                    more info coming soon
                </div>
            </div>
            <div class="row container">
                 <center><a href="https://eepurl.com/ghlBv1" class="page-scroll btn btn-xl">
                    Subscribe to updates</a>
                 </center>
            </div>
        </div>
    </section>
