<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">pyMOR School 2020</div>
                <div class="intro-lead-in"><a href="https://pymor.org"><b>Model Order Reduction with Python</b></a></div>
                <div class="intro-lead-in">7-11 October 2020</div>
                <div class="intro-lead-in">MÜNßTÉ€</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% comment %}
        {% include 2020_data/speakers.html %}
    {% endcomment %}
    {% include 2020_data/about.html %}
    {% comment %}
        {% include 2020_data/sponsors.html %}
    {% endcomment %}
    {% include 2020_data/contact.html %}
    {% include 2020_data/footer.html %}
    {% comment %}
        {% include 2020_data/speakers_info.html %}
    {% endcomment %}
    {% include 2020_data/js.html %}

    </body>
</html>
