<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" style="text-decoration: line-through;">pyMOR School 2020</div>
                <div class="intro-heading">pyMOR Online Course 2020</div>
                <div class="intro-lead-in"><a href="https://pymor.org"><b>Model Order Reduction with Python</b></a></div>
                <div class="intro-lead-in">September 28th - October 2nd 2020</div>
                <div class="intro-lead-in" style="text-decoration: line-through;">at the Mathematics Münster Cluster of Excellence</div>
                <div class="intro-lead-in">directly in front of you.</div>
                <a href="#intro" class="page-scroll btn btn-xl">Details</a>
            </div>
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% comment %}
        {% include 2020_data/speakers.html %}
    {% endcomment %}
    {% include 2020_data/about.html %}
    <!-- {% comment %} -->
        {% include 2020_data/sponsors.html %}
    <!-- {% endcomment %} -->
    {% include 2020_data/contact.html %}
    {% include 2020_data/footer.html %}
    {% comment %}
        {% include 2020_data/speakers_info.html %}
    {% endcomment %}
    {% include 2020_data/js.html %}

    </body>
</html>
