<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">pyMOR School 2021</div>
                <div class="intro-lead-in"><a href="https://pymor.org"><b>Model Order Reduction with Python</b></a></div>
                <div class="intro-lead-in">October 4th - October 8th 2021</div>
                <div class="intro-lead-in">at the Mathematics Münster Cluster of Excellence</div>
                <a href="#about" class="page-scroll btn btn-xl">Details</a>
            </div>
        </div>
    </header>

    {% comment %}
	{% include 2021_data/intro.html %}
    {% endcomment %}
    {% comment %}
        {% include 2021_data/speakers.html %}
    {% endcomment %}
    {% include 2021_data/about.html %}
    <!-- {% comment %} -->
        {% include 2021_data/sponsors.html %}
    <!-- {% endcomment %} -->
    {% include 2021_data/contact.html %}
    {% include 2021_data/footer.html %}
    {% comment %}
        {% include 2021_data/speakers_info.html %}
    {% endcomment %}
    {% include 2021_data/js.html %}

    </body>
</html>
